<html><title>Contact Us</title>
{% extends "base.html" %}

{% block page_title %}Contact Us{% endblock %}

{% block links %}{% endblock %}


{% block header %}

  <div class = "col-md-1">
  </div> 
  <div class = "col-md-10">
    <center>
    
    <h1>Contact Us</h1>
    </center>
  </div>
  <div class = "col-md-1">
  </div>
    {% endblock header %}
    
    
    {% block content %}
<div class = "col-md-1">
</div>   
<div class="col-md-10 border border-primary" style="background-color:white";>
    <p class="mt-4">Please contact us at<br> <span class="lead"><a href="mailto:pseudobase.help@gmail.com">pseudobase.help@gmail.com</a></span> for any questions or comments regarding PseudoBase</p>


<div class = "col-md-1">
</div>   

{% endblock content %}