<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Pseudobase -- Noor lab, Duke -- {% block page_title %}Search Results{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fasta.css" />
</head>
<body>
	<div>
		{% block content %}
		
		{% endblock %}
	</div>
</body>
</html>
