{% extends "base.html" %}

{% block page_title %}Search{% endblock %}

{% block links %}{% endblock %}

{% block content %}
<center>
<table class="outer table table-bordered" width="80%">
	<tr>
	   <thead class = "thead">
		<th scope="col" class="outer table-secondary"><center>By gene (outputs CDS)</center></th>
		<th scope="col" class="outer table-secondary"><center>By chromosome</center></th>
		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td scope="row" width="50%" height="100%" class="outer"><center>
		<div class = "form-group">
		<form action="/" method="post" enctype="multipart/form-data">{% csrf_token %}
		<table width="100%">
		{{ gene_form.as_table }}
		</table>
		<input type="submit" class="btn btn-default" name="search_type" value="Search by gene" />
		</form>
		</center>
		</td>
		<td scope="row" width="50%" height="100%" class="outer"><center>
		<form action="/" method="post" enctype="multipart/form-data">{% csrf_token %}
		<table width="100%">
		{{ chromosome_form.as_table }}
		<tr class="inner"><td align="center" colspan="2"><input type="submit" class="btn btn-default" name="search_type" value="Search by chromosome" /></td></tr>
		</table>
		</div>
		</form>
		</center>
		</td>
	</tr>
	</tbody>
</table>
<br />
<br />
<!--hr /-->
<h3>
<a href="{% url 'info' %}">Information on sequences/ strains</a>
</h3>
</center>
{% endblock %}

{% block script %}
{% if display_counter %}{% include "stat_counter.html" %}{% endif %}
{% endblock %}
