{% extends "base.html" %}

{% block page_title %}Search{% endblock %}

{% block links %}{% endblock %}

{% block content %}
<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {%if session_search_tab == 'gene' %} active {% endif %}" href="{% url 'index' %}?search_tab=gene">by Gene</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if session_search_tab == 'chromosome' %} active {% endif %}" href="{% url 'index' %}?search_tab=chromosome">by Chromosome</a>
  </li>

</ul>
{% block searchtab %}

{% endblock searchtab %}
<br />
<br />
<!--hr /-->
<h3>
<a href="{% url 'info' %}">Information on sequences/ strains</a>
</h3>
</center>
</div>

{% endblock %}

{% block script %}
{% if display_counter %}{% include "stat_counter.html" %}{% endif %}
{% endblock %}
