{% extends "index_search.html" %}


{% block searchtab %}
<div class = "container">
    <!--h2>By Gene</h2-->

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="alert-message block-message error">
            {{ gene_form.non_field_errors }}
        </div>  
        
        <div class = "row border mt-3 search_content ml-5 mr-5">
        
         <div class = "form-group col-md-5"> 
                <br>
                <div class="row fieldWrapper">
                          
                    <div class = "col-md-1">
                        <b> {{ gene_form.species.label_tag }} </b>
         
                    </div>    
                    <div class = "col-md-11">
                        {% if gene_form.species.errors  %}
                            <div class="alert-message block-message error">
                                {{ gene_form.species.errors }}
                            </div>
                        {% endif %}  
                        {{ gene_form.species }}
                        {% if gene_form.species.help_text %}
                              <!--p class = "help"-->
                            {{ gene_form.species.help_text|safe }}
                              <!--/p-->   
                        {% endif %}
                    </div>    
                </div>
               <br>
               <div class="row fieldWrapper">

                    <div align="left" class = "col-md-5">
                        <b> {{ gene_form.show_aligned.label_tag }} </b>

                    </div>
                    <div align="left" class = "col-md-7">
                        {% if gene_form.show_aligned.errors  %}
                            <div class="alert-message block-message error">
                                {{ gene_form.show_aligned.errors }}
                            </div>
                        {% endif %}
                        {{ gene_form.show_aligned }}
                        {% if gene_form.show_aligned.help_text %}
                              <!--p class = "help"-->
                            {{ gene_form.show_aligned.help_text|safe }}
                              <!--/p-->
                        {% endif %}
                    </div>
                </div>
            </div>        
           <div class = "form-group col-md-7">


                {% for field in gene_form %}
                    {% if field.label == 'Species' %}

                    {%  elif field.label == 'Show aligned' %}

                    {% else %}
                        <br>
                        <div class="row fieldWrapper">

                            <div align="left" class = "col-md-3">
                                <b> {{ field.label_tag }} </b>

                            </div>
                            <div align="left" class = "col-md-9">
                                {% if field.errors  %}
                                    <div class="alert-message block-message error">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                               {{ field }}


                                {% if field.help_text %}
                              <!--p class = "help"-->
                                    {{ field.help_text|safe }}
                              <!--/p-->
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
       <div class = "row justify-content-center">
           <input type="submit" class="btn btn-primary mt-3" title="Show FASTA-formatted results for selected gene/gene batch" name="gene_search_type" value="FASTA results" />
           <!--/td></tr-->
           <input type="submit" class="btn btn-primary mt-3 ml-3" title="Browse to selected gene using JBrowse
(Note: Within JBrowse only first 3 strains initially shown for each species selected. Select in JBrowse for more)"   name="gene_browse_type" value="JBrowse to gene" />
        </div>
        	
    </form>        	
    	
</div>

{% endblock searchtab %}
