{% extends "index_search.html" %}

{% block searchtab %}
<div class = "container">


		<!--div class = "col-md-12 border border-primary border-top-0 rounded"-->
 
		<!--div class = "form-group col-md-12" -->
    
    <!--h2>By chromosome</h2-->


    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        	
        <div class="alert-message block-message error">
           	{{ chromosome_form.non_field_errors }}
        </div>  
        <div class = "row border mt-3 search_content ml-5 mr-5">
        
           <div class = "form-group col-md-5"> 
                <br>
                <div class="row fieldWrapper">

                    <div class = "col-md-1">
                        <b> {{ chromosome_form.species.label_tag }} </b>

                    </div>
                    <div class = "col-md-11">
                        {% if chromosome_form.species.errors  %}
                            <div class="alert-message block-message error">
                                {{ chromosome_form.species.errors }}
                            </div>
                        {% endif %}
                        {{ chromosome_form.species }}
                        {% if chromosome_form.species.help_text %}
                              <!--p class = "help"-->
                            {{ chromosome_form.species.help_text|safe }}
                              <!--/p-->
                        {% endif %}
                    </div>
                </div>
               <br>
                <div class="row fieldWrapper">

                    <div align="left" class = "col-md-5">
                        <b> {{ chromosome_form.show_aligned.label_tag }} </b>

                    </div>
                    <div align="left" class = "col-md-7">
                        {% if chromosome_form.show_aligned.errors  %}
                            <div class="alert-message block-message error">
                                {{ chromosome_form.show_aligned.errors }}
                            </div>
                        {% endif %}
                        {{ chromosome_form.show_aligned }}
                        {% if chromosome_form.show_aligned.help_text %}
                              <!--p class = "help"-->
                            {{ chromosome_form.show_aligned.help_text|safe }}
                              <!--/p-->
                        {% endif %}
                    </div>
                </div>

            </div>

                
            <div class = "form-group col-md-7"> 
                  	
          
                {% for field in chromosome_form %}
                    {% if field.label == 'Species' %}
                    {% elif field.label == 'Show aligned' %}
                	  
                    {% else %}
                        <br>
                        <div class="row fieldWrapper">
                          
                            <div  align= "left" class = "col-md-3">
                                <b> {{ field.label_tag }} </b>
                              
                            </div>    
                            <div align="left" class = "col-md-9">
                                {% if field.errors  %}
                                    <div class="alert-message block-message error">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}  
                               {{ field }}
            
          
                                {% if field.help_text %}
                              <!--p class = "help"-->
                                    {{ field.help_text|safe }}
                              <!--/p-->   
                                {% endif %}
                            </div>    
                        </div>
                    {% endif %}
                {% endfor %}	
            </div>	
        </div>
        <div class = "row justify-content-center">

            <div class="btn-toolbar">
                 <input type="submit" class="btn btn-primary mt-3"  title="Show FASTA-formatted results for selected chromosome region" name="chrom_search_type" value="FASTA results" /><!--/td></tr-->
                 <input type="submit" class="btn btn-primary mt-3 ml-3" title="Browse to selected chromosome region using JBrowse
(Note: Within JBrowse only first 3 strains initially shown for each species selected. Select in JBrowse for more)" name="chrom_browse_type" value="JBrowse to region" />
            </div>
        </div>
  
        		
        </div>	
    </form>        	
    	
</div>
{% endblock searchtab %}
