{% extends "index_search.html" %}


{% block searchtab %}
<div class = "container">
    <!--h2>By Gene</h2-->

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="alert-message block-message error">
            {{ gene_form.non_field_errors }}
        </div>  
        
        <div class = "row border mt-3 search_content ml-5 mr-5">
        
         <div class = "form-group col-md-5"> 
                <br>
                <div class="row fieldWrapper">
                          
                    <div class = "col-md-1">
                        <b> {{ gene_form.species.label_tag }} </b>
         
                    </div>    
                    <div class = "col-md-11">
                        {% if gene_form.species.errors  %}
                            <div class="alert-message block-message error">
                                {{ gene_form.species.errors }}
                            </div>
                        {% endif %}  
                        {{ gene_form.species }}
                        {% if gene_form.species.help_text %}
                              <!--p class = "help"-->
                            {{ gene_form.species.help_text|safe }}
                              <!--/p-->   
                        {% endif %}
                    </div>    
                </div>
                    
            </div>        
           <div class = "form-group col-md-7"> 
                  	
          
                {% for field in gene_form %}
                    {% if field.label == 'Species' %}
                 	   
 
                    {% else %}
                        <br>
                        <div class="row fieldWrapper">
                          
                            <div class = "col-md-3">
                                <b> {{ field.label_tag }} </b>
                              
                            </div>    
                            <div class = "col-md-9">
                                {% if field.errors  %}
                                    <div class="alert-message block-message error">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}  
                               {{ field }}
            
          
                                {% if field.help_text %}
                              <!--p class = "help"-->
                                    {{ field.help_text|safe }}
                              <!--/p-->   
                                {% endif %}
                            </div>    
                        </div>
                    {% endif %}
                {% endfor %}	
            </div>	
        </div>
       <div class = "row justify-content-center">
           <input type="submit" class="btn btn-primary mt-3" name="search_type" value="Search by gene" /><!--/td></tr-->
        </div>
        	
    </form>        	
    	
</div>

{% endblock searchtab %}
