<html><title>Pseudobase Search/Browse logs</title>
{% extends "base.html" %}

{% block page_title %}Logs{% endblock %}

{% block links %}{% endblock %}


{% block header %}

  <div class = "col-md-1">
  </div> 
  <div class = "col-md-10">
    <center>
    
    <h1>Pseudobase Search/Browse Logs</h1>
    </center>
  </div>
  <div class = "col-md-1">
  </div>
    {% endblock header %}
    
    
    {% block content %}
<div class = "col-md-1">
</div>   

<div class="col-md-10 border border-primary" style="background-color:white";>

 <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Type</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
    {%  for log in logs %}
      <tr>
        {%  for el in log %}
            <td>{{ el }}</td>
        {%  endfor %}
      </tr>
    {%  endfor %}

    </tbody>
  </table>


</div>
<div class = "col-md-1">
</div>   

{% endblock content %}