<html><title>Pseudobase information</title>
{% extends "import_base.html" %}

{% block page_title %}Preprocess{% endblock %}

{% block links %}{% endblock %}


{% block header %}

  <div class = "col-md-1">
  </div> 
  <div class = "col-md-10">
    <center>
    
    <h1>Pending Preprocessing - <i>Chromosome Sequences</i></h1>
    <h4>Files awaiting preprocessing<small class = "text-muted"> (select files to preprocess)</small></h4>
    <!--h6 class = "text-muted">Select a file to import</h6-->
    </center>
  </div>
  <div class = "col-md-1">
  </div>
  
 
{% endblock header %}
    
    
{% block pending %}
{{ form.non_field_errors }}
  <form action="" method="post">
     {% csrf_token %}
      <div class = "row">
        <div class = "col-md-1">
        </div> 
    
        
     
        <div class="col-md-10 border border-primary" style="background-color:white;">
                            <table id="pending_tab" class = "table table-sm">
                                <thead>
                                    <tr>
                                         <th scope = "col"> </th>
                                         <th scope = "col">Action</th>
                                         <th scope = "col">File name</th>
                                         <th scope = "col">Chromosome</th>
                                         <th scope = "col">Strain</th>
                                         <th scope = "col">Start position</th>
                                         <th scope = "col">File size</th>
                                         <th scope = "col">File format</th>
                                     </tr>
                                
                                </thead>
                            
                                <tbody>
                                    
                                         {% for file_info in pending_files %}
                                             <tr>
                                                 <!--th scope = "row"-->
                                                     {% if file_info.format == 'unknown' %}
                                                         <td></td>
                                                         <td class = "small"></td>
                                                         <td class = "small text-muted"><i>{{ file_info.file_name }}</i></td>
                                                     
                                                     {% else %}
                                                         {% if file_info.import_status %}
                                                            <td></td>
                                                            <td class = "small">
                                                               {{ file_info.import_status }}
                                                            </td>
                                                         {% else %}     
           
                                                             <td>
                                                                <input type="checkbox"  value="{{ file_info.file_name }}" name="import_files">
                                                             </td> 
                                                             <td class = "small">
                                                                 <!--
                                                                 <a href = "{% url 'importfile' file_info.file_name %}"
                                                                  {% if file_info.exists_in_db %}
                                                                       onclick = "return confirm('Data exists already in Pseudobase for\n  - chromosome: {{ file_info.chromosome_name }} \n  - strain: {{ file_info.strain_name }} \n This will update/overwrite existing data in Pseudobase. Are you sure?')">
                                                                      <span class = "text-warning">&#9851; Update</span>
                                                                  {% else %}
                                                                       onclick = "return confirm('Importing new data into Pseudobase for \n  - chromosome: {{ file_info.chromosome_name }} \n  - strain: {{ file_info.strain_name }} \n Are you sure?')">
                                                                      <span>&#10133; New</span>
                                                                  {% endif %}  
                                                                  </a>
                                                                  -->
                                                                  {% if file_info.exists_in_db %}
                                                                      <span class = "text-warning" data-toggle="tooltip" title="Warning: Data exists already in Pseudobase for Chromosome: {{ file_info.chromosome_name }} / Strain: {{ file_info.strain_name }}. Selecting this file will update/overwrite existing data in Pseudobase.">&#9851; Update</span>
                                                                  {% else %}
                                                                      <span data-toggle="tooltip" title="This will Import new data into Pseudobase for Chromosome: {{ file_info.chromosome_name }} / Strain: {{ file_info.strain_name }}">&#10133; New</span>
                                                                  {% endif %}  
                                                                
                                                         </td>  
                                                         {% endif %}    
                                                         <td class = "small">{{ file_info.file_name }}</td>
                                                    {% endif %}  
                                                     
                   
                                                         <!--/th-->
                                                     <td class = "small"> {{ file_info.chromosome_name }}</td>
                                                     <td class = "small"> {{ file_info.strain_name }} </td>
                                                     <td class = "small"> {{ file_info.position }} </td>
                                                     <td class = "small"> {{ file_info.file_size_MB }}</td> 
                                                     <td class = "small"> {{ file_info.format }} </td>
                 
                                                 
                                                        
                
                                             </tr>
                                         {% endfor %}
                                         {% if num_valid_pending_files == 0 %}
                                            <tr>
                                              <td class = "text-success">No files currently pending import!</td>
                                              <!--td> <small class = "text-muted">Please place new import files into folder:  {{ pending_import_path }}</small> </td-->        
                                            </tr>
                                         {% endif %}   
                                        
                                           
                                       
                                
                                </tbody>
                      
                           </table>
                           
                       
               
        </div>
        <div class = "col-md-1">
        </div>  
     </div>
 
                 {% if num_valid_pending_files == 0 %}
                 <p>  
                 <small class = "text-muted">Please place new import files into folder:  {{ pending_import_path }}</small>
                 </p>
                 {% else %}
                      <button type="submit" name="importfiles" class = "btn btn-primary mt-2" disabled>Split / Filter selected file(s)</button>

                 {% endif %}
  </form>    



   <h4> Split / Filtered files<small class = "text-muted"> (select files to further process)</small></h4>

{{ form.non_field_errors }}
  <form action="" method="post">
     {% csrf_token %}
      <div class = "row">
        <div class = "col-md-1">
        </div>



        <div class="col-md-10 border border-primary" style="background-color:white;">
                            <table id="pending_tab" class = "table table-sm">
                                <thead>
                                    <tr>
                                         <th scope = "col"> </th>
                                         <th scope = "col">Strain</th>
                                         <th scope = "col">Type</th>
                                         <th scope = "col">File name</th>
                                         <th scope = "col">Chromosome</th>
                                         <th scope = "col">Strain</th>
                                         <th scope = "col">File size</th>
                                         <th scope = "col">File format</th>


                                     </tr>

                                </thead>

                                <tbody>

                                         {% for preprocessed_file_info in preprocessed_files %}
                                             <tr>
                                                 <!--th scope = "row"-->
                                                    <td></td>
                                                    <td class = "small"> {{ preprocessed_file_info.strain }} </td>
                                                    <td class = "small"> {{ preprocessed_file_info.type }} </td>
                                                    <td class = "small">{{ preprocessed_file_info.file_name }}</td>
                                                    <td class = "small"> {{ preprocessed_file_info.chromosome_name }}</td>
                                                    <td class = "small"> {{ preprocessed_file_info.strain_name }} </td>
                                                    <td class = "small"> {{ preprocessed_file_info.file_size_MB }}</td>
                                                    <td class = "small"> {{ preprocessed_file_info.format }} </td>



                                             </tr>
                                         {% endfor %}
                                         {% if num_valid_pending_files == 0 %}
                                            <tr>
                                              <td class = "text-success">No files currently pending import!</td>
                                              <!--td> <small class = "text-muted">Please place new import files into folder:  {{ pending_import_path }}</small> </td-->
                                            </tr>
                                         {% endif %}




                                </tbody>

                           </table>



        </div>
        <div class = "col-md-1">
        </div>
     </div>

                 {% if num_valid_pending_files == 0 %}
                 <p>
                 <small class = "text-muted">Please place new import files into folder:  {{ pending_import_path }}</small>
                 </p>
                 {% else %}
                      <button type="submit" name="importfiles" class = "btn btn-primary mt-2" disabled>Import selected file(s)</button>

                 {% endif %}
  </form>

{% endblock pending %}

{% block script %}
{%load static %}
<script>


    {% for file_info in pending_files %}
       
        ajaxGet("{% url 'preprocessfileinfo' fname=file_info.file_name pre=True %}", updateBaseCount);

    {% endfor %}
 
function ajaxGet(url, callbackFunction) {
  var xhttp;
  xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      callbackFunction(this);
    }
    
 };
  xhttp.open("GET", url, true);
  xhttp.send();
}

function updateBaseCount(xhttp) {
     info  =  JSON.parse(xhttp.responseText);
     fname = info['file_info']['file_name'];
     recCount = info['file_info']['rec_count'];
     numChromosomes = info['file_info']['num_chromosomes']
     if (recCount == null) {
         return;
     }

     table = document.getElementById("pending_tab");
     tr = table.getElementsByTagName("tr");
     var lineType = 'bases';
      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
            if (td.innerHTML == fname) {
                tdSize = tr[i].getElementsByTagName("td")[6];
                tdFormat = tr[i].getElementsByTagName("td")[7];
                tdChrom = tr[i].getElementsByTagName("td")[3];
                //alert ('size: ' + tdSize.innerHTML)
                if (tdFormat.innerText.substring(0,3) == 'VCF') {
                    lineType = 'records';
                }

                tdSize.innerHTML = tdSize.innerHTML + ' (' + recCount +  ' ' +  lineType + ')';
                tdChrom.innerHTML = 'x' + numChromosomes + ' chromosomes';
                //alert ('fname: ' + fname +  ' i: ' + i.toString())
            }
        }    
      }  
     
}
</script>
{% endblock %}